* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* padding in border sta vključena v width */
    font-family:'Trebuchet MS', sans-serif;
}

body, html {
    height: 100%;
    width: 100%;
    font-size: 16px; 
    overflow: auto;
    
}

.glavni {
    flex-direction: column;
    width: 100%;
    min-height: 100vh; /*da se lahko scrolla od zacetka pri veliko zooma*/
    display: flex;
    justify-content: center; /*horizontalno*/
    align-items: center; /* vertikalno */
    background-image: url(../slike/odzadje3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.glava{
    width: 70%; 
    max-width: 700px; /* limita maximalno sirino za vecje  ekrane */
    min-width: 320px; /*min limit*/
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem; 
    border-radius: 6px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); 
    border: 1px solid rgb(195, 45, 47);
    margin: 35px 0 25px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.formMain {
    width: 70%; 
    max-width: 700px; /* limita maximalno sirino za vecje  ekrane */
    min-width: 320px; /*min limit*/
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem; 
    border-radius: 6px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); 
    border: 1px solid rgb(195, 45, 47);
    margin-bottom: 35px;
}

.formMain form {
    display: flex;
    flex-direction: column;
}

.obv::after{
    content: "*";
    color: red;
}

.formMain input[type="text"],
.formMain input[type="password"],
.formMain input[type="date"],
.formMain input[type="number"],
.formMain select {
    padding: 0.75rem; 
    margin-bottom: 1.25rem; /* zrak med stavrmi */
    font-size: 16px;
    border: 1px solid rgb(195, 45, 47);
    border-radius: 4px; 
    width: 100%; 
}
    
.formMain input[type="email"],
.formMain input[type="submit"]{
    padding: 0.75rem; 
    font-size: 16px;
    border: 1px solid rgb(195, 45, 47);
    border-radius: 4px; 
    width: 100%; 
}

.formMain input[type="submit"]{
    cursor: pointer;
    background-color: rgb(195, 45, 47);
    color: white;
}

#kategorija{
    color: gray;
}

.email{
    margin-bottom: 1.25rem;
}

.mali {
    font-size: small;
}

.formImePriimek {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap; /* rata v eno vrstico ce je premajhen ekran*/
}

.ime, .priimek {
    flex: 1; /* da sta enako veliki*/
    min-width: 150px;
}

.title {
    margin: auto;
    font-size: 24px;
    padding: 0 0 10px 0;
    font-weight: bold;
    margin-bottom: 20px;
}

.credits:hover{
    cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator /* ne dela na firefoxu*/ {
    cursor: pointer;
} 

@media (max-width: 740px) {
    .formMain {
        width: 90%; 
    }
    .glava {
        width: 90%;
    }
}

.premladi-sweet-alert {
    background-color: rgb(195, 45, 47) !important;
    color: white !important;
    border: none !important;
}

.border-sweet-alert{
    border: 1px rgb(195, 45, 47) solid;
    border-radius: 4px;
    font-family:'Trebuchet MS', sans-serif;
    overflow: none !important; /* important da library ne overrida*/
}


.fr-sweet-alert{
    background-color: white;
    color: black;
    border: 1px black solid;
}
