* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* padding in border sta vključena v width */
}

body, html {
    height: 100%;
    width: 100%;
    font-size: 16px; 
    overflow: auto;
    font-family: "Oxygen", "Helvetica", arial, serif; /* 'izposojen' font */ 
}

.glavni {
    flex-direction: column;
    width: 100%;
    min-height: 100vh; /*da se lahko scrolla od zacetka pri veliko zooma*/
    display: flex;
    justify-content: center; /*horizontalno*/
    align-items: center; /* vertikalno */
    background-image: url(../slike/odzadje3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.glava{
    width: 70%; 
    max-width: 700px; /* limita maximalno sirino za vecje  ekrane */
    min-width: 320px; /*min limit*/
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem; 
    border-radius: 6px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); 
    border: 1px solid rgb(195, 45, 47);
    margin-bottom: 35px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.formMain {
    width: 70%; 
    max-width: 700px; /* limita maximalno sirino za vecje  ekrane */
    min-width: 320px; /*min limit*/
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem; 
    border-radius: 6px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); 
    border: 1px solid rgb(195, 45, 47);
}

.formMain form {
    display: flex;
    flex-direction: column;
}

.obv::after{
    content: "*";
    color: red;
}

.formMain input[type="text"],
.formMain input[type="password"],
.formMain input[type="date"],
.formMain input[type="number"],
.formMain select {
    padding: 0.75rem; 
    margin-bottom: 1.25rem; /* zrak med stavrmi */
    font-size: 16px;
    border: 1px solid rgb(195, 45, 47);
    border-radius: 4px; 
    width: 100%; 
}
    
.formMain input[type="email"],
.formMain input[type="submit"]{
    padding: 0.75rem; 
    font-size: 16px;
    border: 1px solid rgb(195, 45, 47);
    border-radius: 4px; 
    width: 100%; 
}

.formMain input[type="submit"]{
    cursor: pointer;
    background-color: rgb(195, 45, 47);
    color: white;
}

select{
    color: gray;
}

.email{
    margin-bottom: 1.25rem;
}

.mali {
    font-size: small;
}

.formImePriimek {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap; /* rata v eno vrstico ce je premajhen ekran*/
}

.ime, .priimek {
    flex: 1; /* da sta enako veliki*/
    min-width: 150px;
}

.title {
    margin: auto;
    font-size: 24px;
    padding: 0 0 10px 0;
    font-weight: bold;
    margin-bottom: 20px;
}

.potrebno {
    color: white;
}

input[type="date"]::-webkit-calendar-picker-indicator /* ne dela na firefoxu*/ {
    cursor: pointer;
} 

@media (max-width: 740px) {
    .formMain {
        width: 90%; 
    }
}

@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/oxygen/v15/2sDfZG1Wl4LcnbuKgE0mV0Q.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
